.head {
    color: red;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: darkgray;
}

.dosa {
    color: orange;
}

.jun {
    max-width: 400px;
    max-height: 400px;
}

.chennai {
    color: blue;
    font-family: Tahoma, sans-serif;
    font-style: italic;
}