.head {
    color: white;
    font-family: Tahoma, sans-serif;
    background-color: black;
}

.jun {
    max-width: 400px;
    max-height: 400px;
}

.gun {
    color: orangered;
    font-family: Tahoma, sans-serif;
    font-style: italic;
}