.head {
    color: red;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: darkgray;
}

.dosa {
    color: orange;
}

.jun {
    max-width: fit-content;
    max-height: fit-content;
}